h3 {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 970px) {
  body {
    border-left: 5px solid var(--tile3);
    border-top: 5px solid var(--tile4);
    border-right: 5px solid var(--tile5);
    border-bottom: 5px solid var(--tile6);
  }
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

@media only screen and (min-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: min-content auto;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 1200px;
  }
}

p {
  color: var(--text1);
  font-size: 20px;
  font-family: Avenir;
}

name-widget {
  height: min-content;
  grid-row: 1;
  grid-column: 1;
}

.about-block {
  margin-top: 10px;
}

hue-scroll-widget {
  grid-row: 2;
  grid-column: 3;
  margin-top: 0;
}

projects-block {
  grid-row: 1;
  grid-column: 2;
  margin-top: auto;
}

links-block {
  grid-row: 2;
  grid-column: 1;
}

theme-toggle {
  grid-row: 2;
  grid-column: 2;
}

.dance {
  width: 350px;
  font-size: 13px;
  grid-row: 1;
  grid-column: 3;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text2);
}

::selection {
  background: var(--text2);
}

::-moz-selection {
  background: var(--text2);
}

@media only screen and (min-width: 970px) and (max-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
  }
  hue-scroll-widget {
    grid-row: 3;
    grid-column: 1;
    margin-top: 0;
  }
  .dance {
    grid-row: 3;
    grid-column: 2;
  }
}