h3 {
  margin: 0;
  padding: 0;
}

.mask {
  z-index: -1;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  height: 100%;
  width: 100%;
  transition: 500ms;
  cursor: pointer;
}

.open {
  z-index: 5;
  opacity: 1;
}

@media only screen and (max-width: 970px) {
  body {
    border-left: 5px solid var(--tile3);
    border-top: 5px solid var(--tile4);
    border-right: 5px solid var(--tile5);
    border-bottom: 5px solid var(--tile6);
  }
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

@media only screen and (min-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: min-content auto;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 1200px;
  }
}

p {
  color: var(--text1);
  font-size: 20px;
  font-family: Avenir;
}

name-widget {
  height: min-content;
  grid-row: 1;
  grid-column: 1;
}

.about-block {
  margin-top: 10px;
}

hue-scroll-widget {
  grid-row: 2;
  grid-column: 3;
  margin-top: 0;
}

projects-block {
  grid-row: 1;
  grid-column: 2;
  margin-top: auto;
}

links-block {
  grid-row: 2;
  grid-column: 1;
}

theme-toggle {
  grid-row: 2;
  grid-column: 2;
}

.dance {
  width: 350px;
  font-size: 13px;
  grid-row: 1;
  grid-column: 3;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text2);
}

::selection {
  background: var(--text2);
}

::-moz-selection {
  background: var(--text2);
}

@media only screen and (min-width: 970px) and (max-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
  }
  hue-scroll-widget {
    grid-row: 3;
    grid-column: 1;
    margin-top: 0;
  }
  .dance {
    grid-row: 3;
    grid-column: 2;
  }
}

.about-me {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 500px;
  background-color: var(--tile1);
  z-index: 10;
  transform: translateX(150%);
  padding: 20px;
}

.about-me p {
  margin: 5px 0;
  line-height: 1.5;
}

.me-wrapper {
  width: 70%;
  display: flex;
  /* height: auto; */
}

.me {
  object-fit: cover;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
}

.young {
  transform: rotate(90deg);
  width: 100%;
  height: 100%;
  aspect-ratio: 3/4;
}

.sherif {
  font-family: Avenir;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
}

.selected {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.dismiss {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(150%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(150%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(150%);
  }
}