body {
  display: flex;
  flex-direction: column;
  font-family: Avenir;
}

.project-main {
  height: min-content;
  padding: 30px;
  margin: auto;
  width: 700px;
  display: flex;
  flex-direction: column;
}

.projects-heading {
  font-size: 2em;
}

.project {
  margin: 10px 0;
}

.project a {
  font-size: 1.35em;
  color: var(--text1);
  font-weight: bold;
  /* font-family: Avenir; */
  font-family: var(--font-main);
}

.anime {
  position: absolute;
  font-size: 12px;
  right: 0;
  color: var(--text1);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.dance {
  top: 0;
  display: none!important;
}

.square {
  bottom: 40px;
  display: none;
}

@media only screen and (min-width: 1100px) {
  .dance {
    display: block!important;
  }
  .square {
    display: block;
  }
}

@media only screen and (min-width: 1500px) {
  main {
    max-width: 800px;
    width: 600px;
    height: min-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
}

.image-section {
  height: 200px;
  width: 200px;
}

.target-image {
  position: absolute;
  top: 50px;
  right: 50px;
  height: 300px;
  width: 500px;
  aspect-ratio: 1/1;
  object-fit: contain;
  border: none;
  outline: none;
}