.project {
  font-family: Avenir;
}

.project a {
  font-size: 22px;
  color: var(--text1);
  font-weight: bold;
}

.project p {
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 20px;
}

.more-projects {
  font-size: 18px;
  font-family: Avenir;
  font-weight: bold;
  color: var(--text1);
}