        .modal {
          /* display: none; */
          height: 400px;
          width: 400px;
          background-color: var(--tile6-light);
          z-index: 10;
          top: 0;
          right: 0;
          position: absolute;
          transform: translateX(100%);
          -webkit-transform: translateX(100%);
        }
        
        .modal.open {
          animation: slide-in 0.35s forwards;
          -webkit-animation: slide-in 0.35s forwards;
        }
        
        .modal.closed {
          animation: slide-out 0.35s forwards;
          -webkit-animation: slide-out 0.35s forwards;
        }
        
        @keyframes slide-in {
          0% {
            -webkit-transform: translateX(100%);
          }
          100% {
            -webkit-transform: translateX(0%);
          }
        }
        
        @-webkit-keyframes slide-in {
          0% {
            transform: translateX(100%);
          }
          100% {
            transform: translateX(0%);
          }
        }
        
        @keyframes slide-out {
          0% {
            transform: translateX(0%);
          }
          100% {
            transform: translateX(100%);
          }
        }
        
        @-webkit-keyframes slide-out {
          0% {
            -webkit-transform: translateX(0%);
          }
          100% {
            -webkit-transform: translateX(100%);
          }
        }